.instablack{
    width: 120px;
    margin-left: 20px;
    position: absolute;
   top: 20px; 
   left: 0;
}

.instaheader{
    max-width: 700px;
    width: 500px;
    overflow-x: auto;
    margin:10px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding:5px 0;
    scroll-behavior: smooth;
    &__image{      
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        img{
            object-fit: cover;
            border-radius: 50%;
            width: 90px;
            height: 90px;
            border: 3px solid $color-story;
            padding: 4px;
            cursor:pointer ;
        }
    }
    &__lftbtn{
        width: 30px;
        height: 30px;
        position: absolute;
       left: 29%;
       background-color: white;
       border-radius: 50%;
       font-weight: 700;
       cursor: pointer;
    }
    &__rtbtn{
        width: 30px;
        height: 30px;
        position: absolute;
        right: 30%;
        background-color: white;
        border-radius: 50%;
        font-weight: 700;
        cursor: pointer;
    }
}
::-webkit-scrollbar {
    display: none; 
}